.main{
    padding: 15px 0;
    
    border-radius: 10px;
    background-color: #fff;
}

.all_tickets{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    .ticket_right{
        display: flex;
        margin-right: 35px;
        p{
            margin-left: 30px;
            span{
                color: rgba(223, 224, 235, 1) ;
            }
        }
    }
}
.title_box{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(223, 224, 235, 1);
    padding: 10px 15px;
    font-size: 12px;
    box-sizing: border-box;
    .details{
        width: 39%;
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            margin-right: 30px;
        }
    }
    .costumers{
        width: 19%;
    }
    .date{
        width: 19%;
    }
    .priority{
        width: 19%;
        .dot_icon{
            float: right;
            margin-right: 30px;
        }
    }
}
.title__box--hover:hover{
    background-color: rgb(239, 239, 239);
    transition: all ease 1s;
    cursor: pointer;
}
.as_btn{
    padding: 5px 10px;
    border-radius: 20px;
    
    color: #fff;

}
.low{
    background-color: rgb(130, 130, 65);
    
}
.high{
    background-color: red;
}
.normal{
    background-color: blue;
}
.footer{
    padding-left: 560px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #fff;
    
    .num_icon{
        margin-left: 10px;
    }
    .footer_span{
        margin-right: 20px;
        .footer_icon{
            margin: 0 5px;
        }
    }
}